@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");
html {
  display: grid;
  justify-items: center;
}

img {
  height: auto;
}

model-viewer {
  visibility: hidden;
  width: 0vw;
  height: 0vh;
}

#container {
  height: 0vh;
  width: 0vw;
}

.drop {
  display: inline-block;
  position: relative;
  text-align: center;
  font-family: "Oswald", sans-serif;
}
.drop input[type=checkbox] {
  display: none;
}
.drop input[type=checkbox]:checked ~ .drop-items {
  opacity: 1;
  max-height: 400px;
}
.drop input[type=checkbox]:checked ~ .control {
  z-index: 99;
  box-shadow: 0 0 0 2px white;
}
.drop input[type=checkbox]:checked ~ .control:after {
  transform: rotate(180deg);
}
.drop input[type=checkbox]:checked ~ .overlay-close {
  transform: none;
  pointer-events: initial;
}
.drop .control {
  position: relative;
  color: #000;
  display: inline-block;
  cursor: pointer;
  padding: 0.2em 0.3em;
  background: #ffffff;
  border: 1px solid black;
  transition: all 0.3s ease;
  text-transform: uppercase;
}
@media (hover: hover) {
  .drop .control:hover {
    opacity: 0.75;
  }
}
.drop .drop-items {
  position: absolute;
  top: calc(100% + 0.4rem);
  width: 100%;
  padding: 0;
  margin: 0;
  transition: all 0.3s ease;
  background: #fff;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  overflow: hidden;
  max-height: 0;
  opacity: 0;
  z-index: 99;
}
.drop .drop-items .item-drop {
  list-style: none;
  height: 40px;
  display: grid;
  place-items: center;
  border-bottom: 1px solid rgba(128, 128, 128, 0.281);
}
.drop .drop-items .item-drop a {
  display: block;
  color: #555;
  text-decoration: none;
  padding: 0.8rem;
  transition: all 0.3s ease;
}
@media (hover: hover) {
  .drop .drop-items .item-drop a:hover {
    background: #eee;
  }
}
.drop .drop-items .item-drop:hover {
  cursor: pointer;
}
.drop .overlay-close {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 9;
  transform: translate(100%, 0);
  pointer-events: none;
}

.color-picker {
  display: grid;
  place-items: start;
  grid-template-rows: max-content;
  grid-template-columns: repeat(4, 1fr);
  max-width: 115px;
  margin-bottom: 7px;
  font-family: "Oswald", sans-serif;
}
.color-picker .color-name {
  margin: 0;
  font-size: 12px;
}
.color-picker .one-color {
  display: grid;
  place-items: start;
}
.color-picker .radio {
  position: relative;
  display: block;
  z-index: 999;
  margin-left: 0 !important;
}

#icon-text-wrapper {
  display: grid;
  grid-template-columns: auto 1fr;
}

#thebutton {
  display: grid;
  place-items: center;
  grid-auto-flow: column;
  grid-template-columns: min-content;
}

ul {
  padding: 0 !important;
}

.btn-text {
  margin-bottom: 2px;
  display: grid;
  place-content: center;
}

.item-drop {
  z-index: 9999999;
}

iframe {
  height: 300px;
}

.active {
  max-height: unset !important;
  opacity: 1 !important;
}