<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head.ejs'); %>
  </head>
  <body>
    <div id="container"><%- include('../partials/modelviewer.ejs'); %></div>

    <label class="drop"> <%- include('../partials/button.ejs'); %> </label>

    <%- include('../partials/footer.ejs'); %>
  </body>
</html>
