<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head.ejs'); %>
  </head>
  <body>
    <div id="container"><%- include('../partials/modelviewer.ejs'); %></div>

    <label class="drop"> <%- include('../partials/button.ejs'); %> </label>

    <script src="scripts/setSrc.js"></script>
    <script src="scripts/styling.js"></script>
    <script src="scripts/activateAr.js"></script>
    <script src="scripts/dropdownReveal.js"></script>
    <script></script>
  </body>
</html>
